<h1>Tasks#show</h1>
<p>Find me in app/views/tasks/show.html.erb</p>
<h2><%=@task.name %></h2>
<h2><%=@task.details %></h2>
<h2><%=@task.status %></h2>
<%= link_to "Edit", edit_task_path %>

<%= link_to "Delete", task_path(@task), method: :delete, data: { confirm: "are you sure?" } %>



<%= link_to "Home", tasks_path %>
